@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --font: Ubuntu, sans-serif;
  /*Colors*/
  --surface-color: #f1f3f9;
  --on-surface-color: rgb(6,10,10);
  --primary-color: #ef4d64;
  --on-primary-color: #f1f3f9;
  --secondary-color: #fce4ec;

  font-family: var(--font);
  font-size: 16px;
  color: var(--on-surface-color);
  overflow-y: auto;
}


* {
  box-sizing: border-box;
}

a {
  font-style: normal;
  text-transform: lowercase !important;
}

html, body {
	position: fixed;
	height: 100% !important;
  display: flex;
  place-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--surface-color);
}

#app {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 480px;
  overflow: hidden scroll;
  background-color: var(--surface-color);
}

.pb-primary-btn {
  background-color: var(--primary-color) !important;
  border-radius: 1rem !important;
  color: var(--on-primary-color) !important;
  text-transform: none !important;
}

.pb-text-bt {
    border-radius: 1rem !important;
    text-transform: none !important;
    border-color: currentColor !important;
    color: var(--primary-color) !important;
}

.pb-nav-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--on-surface-color)
}

.v-sheet {
  background-color: var(--surface-color) !important;
}

.v-layout .v-bottom-navigation {
  left: 50% !important;
  width: 100px !important;
  transform: translateX(-50%) !important;
  border-radius: 2rem !important;
  bottom: 1rem !important;
  height: 2.5rem !important;
}

.alert {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: var(--surface-color);
  z-index: 999;
}

.alert .v-card {
  background-color: var(--secondary-color);
}

.alert .v-card-text {
  font-size: 1rem !important;
}
