@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --font: Ubuntu, sans-serif;
  /*Colors*/
  --surface-color: rgb(241, 243, 249);
  --primary-color: rgb(98, 0, 234);
  --on-primary-color: rgb(241, 243, 249);

  font-family: var(--font);
  font-size: 16px;
}


* {
  box-sizing: border-box;
}

a {
  font-style: normal;
  text-transform: lowercase !important;
}

html, body {
  position: relative;
  display: flex;
  place-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 480px;
  overflow: hidden;
  background-color: azure;
}

.v-skeleton-loader,
.v-skeleton-loader__image {
  border-radius: 1rem !important;
}

.pb-primary-btn {
  background-color: var(--primary-color) !important;
  border-radius: .5rem !important;
  color: var(--on-primary-color) !important;
}